@{
    ViewBag.Title = "Layout Using Sections";
} 
<h2>使用Sections的Layout</h2>
<div>这是主要内容</div>
@section PageNavigation
    {
    <div>拥有Navigation的View</div>
    <ul>
        <li>Nav1</li>
        <li>Nav2</li>
    </ul>
}