<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--警综平台登陆页面-->
    <add key="login" value="http://jz.zx.tj/qwbzzz.jsp"/>
    <!--进入天地e搜等待时间-->
    <add key="fowardToSearchTime" value="10000"/>
    <!--填写完搜索条件，后出现的结果页面等待时间-->
    <add key="fowardToSearchListTime" value="3000"/>
    <!--点击—户政_常口基本信息后的等待时间-->
    <add key="fowardToHouseholdListTime" value="3000"/>
    <!--点击—身份证号后的等待时间-->
    <add key="fowardToPeopleInfoTime" value="10000"/>
    <!--关闭页面等待时间-->
    <add key="closeWindowTime" value="1000"/>
    <!--运行次数-->
    <add key="timeCountsStr" value="300"/>

    <add key="tdesx" value="1002702"/>
    <add key="keyword" value="keyword"/>
    <add key="searchBtn2" value="searchBtn2"/>
    <add key="120225" value="120225*"/>
    <add key="house" value="li_PERSON"/>
    <add key="tr0" value="tr"/>
    <add key="hyperlink_idCard" value="hyperlink_idCard"/>
  
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>