
@{
    ViewData["Title"] = "Index";
}

<h2>Home - Index</h2>
<a asp-controller="Home" asp-action="Index">Home</a>
<br />
<a asp-controller="SubmitData" asp-action="Index">SubmitData-Index</a>
<br />
<a asp-controller="HtmlHelpers" asp-action="Index">HtmlHelpers-Index</a>
<br />
<a asp-controller="TagHelpers" asp-action="Index">TagHelpers-Index</a>
<br />
<a asp-controller="ViewDemos" asp-action="Index">ViewDemos-Index</a>
