@{
    ViewData["Title"] = "Markdown";
}

<h2>Markdown Sample</h2>
@*markdown中的文必须按照此格式，每行之前不要有空格，否则可能会解析不出来*@
<markdown>
## This is simple Markdown
[C# Blog](https://csharp.christiannagel.com)

* one
* two
* three
</markdown>
